*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    position: sticky;
    top: 0;
    
    
}
.navbar img{
    width: 100%;
    display: flex;
}
.logo{
    width: 30%;
  
}
.list ul{
    display: flex;
    list-style-type:none ;
   gap: 10px;


}
a{
    text-decoration:none ;
    text-transform: uppercase;
}